footer {
  background-color: $color-footer;
  color: $color-bgfnt;
  padding-bottom: 5px;
  .footer__logo {
    font-family: "shrikhand";
    padding: 10px 0 0 25px;
  }
  .footer__list ul {
    list-style-type: none;
    padding: 5px 0 15px 20px;
  }
  .fa-utensils,
  .fa-hands-helping {
    padding: 0 10px 0 5px;
  }
  @media screen and (min-width: 1024px) {
    .footer__logo {
      padding: 10px 0 0 0;
      h3 {
        text-align: center;
      }
    }
    .footer__list ul {
      display: flex;
      justify-content: space-around;
      padding: 5px 0 15px 0;
    }
  }
  @media screen and (min-width: 1440px) {
    .footer__logo {
      font-size: 1.5rem;
    }
  }
}
