header {
  display: flex;
  justify-content: center;
  .header__logo {
    width: 150px;
    padding: 10px;
  }

  .fa-arrow-left {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 1.2rem;
  }
}
