header {
  display: flex;
  justify-content: center;
  .header__logo {
    width: 150px;
    padding: 10px;
  }
  @media screen and (min-width: 600px) {
    .header__logo {
      width: 200px;
    }
    @media screen and (min-width: 1440px) {
      .header__logo {
        width: 300px;
      }
    }
  }
  .fa-arrow-left {
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: 1.2rem;
    @media screen and (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }
}
