.operation {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  h2 {
    padding: 20px 0 0 20px;
    font-weight: bold;
    font-size: 1.3rem;
    @media screen and (min-width: 1024px) {
      text-align: center;
      padding: 20px 0 5px 0;
      font-size: 1.5rem;
    }
  }
  &__list__option {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    background-color: $color-container;
    font-weight: bold;
    a {
      display: flex;
      align-items: center;
    }
    @include shadow;
    &:hover {
      background-color: #f5edff;
    }
    &:hover .icone {
      color: $color-primary;
    }
  }
  &__list__number {
    font-size: 0.9rem;
    color: $color-bgfnt;
    background-color: $color-primary;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    padding: 5px 8px 5px 8px;
  }
  .icone {
    color: grey;
    padding: 0 25px 0 15px;
  }

  @media screen and (min-width: 1024px) {
    &__list {
      display: flex;
      justify-content: space-around;
      &__option {
        width: 30%;
      }
      &__number {
        position: static;
        transform: translate(-40px);
      }
    }
  }
}
