.presentation {
  background-color: $color-container;
  padding-bottom: 50px;
  text-align: center;
  h2 {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 30px 80px 20px 70px;
  }
  p {
    font-size: 1.1rem;
    padding-bottom: 20px;
    color: rgb(88, 88, 88);
  }
}
