body {
  font-family: "roboto", sans-serif;
  margin: 0;
  max-width: 1440px;
}

h1 {
  font-family: "shrikhand", sans-serif;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

ul a {
  color: white;
}
