.restaurant {
  background-color: $color-container;
  padding-bottom: 50px;
  &__h2 {
    padding: 40px 0 0 20px;
    @media screen and(min-width: 1024px) {
      width: 100%;
      text-align: center;
      padding: 40px 0 0 0;
    }
  }
  article {
    border-radius: 20px;
    background-color: $color-bgfnt;
    margin: 15px;
    @include shadow;
    position: relative;
  }
  article img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  a {
    color: black;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  article {
    width: 40%;
  }
}

.restaurant__list__title {
  h4 {
    margin: 0;
    padding: 10px 0 2px 12px;
  }
  p {
    margin: 0;
    padding: 0 0 10px 12px;
  }
}

.restaurant__list__new {
  position: absolute;
  background-color: $color-tertiary;
  color: #0a8d6d;
  top: 15px;
  right: 10px;
  height: 30px;
  width: 80px;
  border-radius: 2px;
  p {
    margin: 0;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 0.9rem;
  }
}

.restaurant__list__heart {
  position: absolute;
  font-size: 1.5rem;
  right: 5px;
  bottom: 20px;
  .full-heart {
    position: relative;
    right: 1.9rem;
    background: linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    z-index: 1;
  }
}
