.restaurant {
  background-color: $color-container;
  padding-bottom: 50px;
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
  }

  &__h2 {
    padding: 40px 0 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;
    @media screen and (min-width: 1024px) {
      margin-top: 6%;
      font-size: 1.5rem;
    }
  }
  &__list {
    border-radius: 20px;
    background-color: $color-bgfnt;
    margin: 15px;
    @include shadow;
    position: relative;
    @media screen and (min-width: 1024px) {
      width: 35%;
    }
  }
  &__list img {
    max-height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
}

.restaurant__list__title {
  h4 {
    padding: 15px 0 8px 10px;
    font-weight: bold;
  }
  p {
    padding: 0 0 20px 10px;
  }
}

.restaurant__list__new {
  position: absolute;
  background-color: $color-tertiary;
  color: $color-fntnew;
  top: 15px;
  right: 10px;
  height: 30px;
  width: 90px;
  border-radius: 2px;

  p {
    text-align: center;
    font-weight: bold;
    padding: 7px;
  }
}

.restaurant__list__heart {
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 30px;
}
